<div class="wrapper" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; width: 100%;padding:0;text-align: center;">
  <figure class="image" style="display:block;margin-left:auto;margin-right: auto;width: 100%;padding:0;">
    <a href="{{ include.url }}">
        <img src="{{ include.url }}" alt="{{ include.description }}" align="center">
    </a>
    <figcaption style="font-weight: bold; text-align: justify;">
      {{ include.description }}
    </figcaption>
  </figure>
</div>
