<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper" style="display: block; margin-left: auto; 
                margin-right: auto; width: 70%; text-align: center;">
      <div class="footer-col">
	<img src="/images/HSG-AIML-Logo.png" width="30px" height="46px">
	<br>
	&copy; (2020) 
	<a href="https://ics.unisg.ch/chair-aiml-borth/">
	  Artificial Intelligence & Machine Learning</a> @ HSG
	<br>
	<div class="social-links">
	  {%- include social.html -%}
	</div>
      </div>
    </div>

  </div>

</footer>
