---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

        <p class="post-meta" style="color:#333;">
            {%- if page.authors -%}
                {% for author in page.authors %}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                    {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
    	   {%- endif -%}
    	   <br>
    	   <!-- {%- if page.itemtype -%}
               {{ page.itemtype | escape }}: &nbsp; 
    	   {%- endif -%}
            -->
    	   {%- if page.publisher -%}
               {{ page.publisher | escape }}
               <br>
    	   {%- endif -%}
        </p>
    
        <p class="post-meta" style="background-color:#ffffcc;border: 1px solid #666;padding: 8px;">
            {%- if page.date -%}
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    <strong>Publication Date:</strong> {{ page.date | date: date_format }}
                </time>
                <br>
            {%- endif -%}
    	
            {%- if page.contactemail -%}
                <strong>Contact Email:</strong> <a href="mailto:{{ page.contactemail | escape }}">
    	       {{ page.contactemail | escape }}</a>
    	       <br>
            {%- endif -%}

            {%- if page.language -%}
                <strong>Language:</strong> {{ page.language | escape }}
                <br>
            {%- endif -%}

            {%- if page.tags -%}
    	       <strong>Tags:</strong>
    	       {% for tag in page.tags %}
                    <a href="/posts.html#{{ tag }}">
                        {{ tag | replace: "_", " " | escape }}</a>
                        {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
            {%- endif -%}

            <br><br>

            {%- if page.puburl -%}
                <strong>Original Publication URL:</strong> <a href="{{ page.puburl | escape }}">
                {{ page.puburl | escape }}</a>
                <br>
            {%- endif -%}

            {%- if page.pdfurl -%}
                <strong>PDF:</strong> <a href="{{ page.pdfurl | escape }}">
                {{ page.pdfurl | escape }}</a>
                <br>
            {%- endif -%}

            {%- if page.codeurl -%}
                <strong>Code Repository:</strong> <a href="{{ page.codeurl | escape }}">
                {{ page.codeurl | escape }}</a>
                <br>
            {%- endif -%}

            {%- if page.posterurl -%}
                <strong>Poster:</strong> <a href="{{ page.posterurl | escape }}">
                {{ page.posterurl | escape }}</a>
                <br>
            {%- endif -%}

		
            {%- if page.dataurl -%}
                <strong>Data Repository:</strong> <a href"{{ page.dataurl | escape }}">
                {{ page.dataurl | escape }}</a>
                <br>
            {%- endif -%}
        </p>
    
        <!-- <div style="display: block; margin-left: auto; margin-right: auto; width: 100%"><hr></div> -->
    
    
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        <span style="text-align: justify;">{{ content }}</span>
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
